* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

:root {
    --lighter-olive: rgb(225, 225, 188);
    --light-olive: rgb(223, 223, 142);
    --medium-olive: olive;
    --dark-olive: rgb(56, 56, 0);
    --darker-olive: rgb(31, 31, 0);
    --grey-medium: grey;
    --font: 'Josefin Sans', sans-serif;
    --white: white;
    --black: black;
}

body {
    font-family: var(--font);
    background-color: var(--light-olive);
}

h2 {
    font-size: 36px;
}

button {
    font-family: var(--font);
    height: 30px;
    width: 130px;
    border-radius: 5px;
}

/* nav */

.top_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-olive);
    color: var(--white);
}

.top_menu a {
    text-decoration: none;
    color: var(--white);
}

.top_menu a:hover {
    color: var(--light-olive);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    margin-right: 1rem;
    text-decoration: none;
}

nav ul li {
    margin: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

/* header */

header {
    background-color: var(--darker-olive);
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
}

header button {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    text-shadow: 0 0 20px var(--black);
}

header button:hover {
    border: 2px solid var(--light-olive);
    color: var(--light-olive);
    text-shadow: 0 0 20px var(--black);
}

#background_video {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    filter: opacity(50%);
}

.header_content {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 3rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
    text-shadow: 0 0 20px var(--black);
    padding: 0 10rem 0 10rem;
}

.header_content h1 {
    font-size: 80px;
}

header p {
    padding: 4rem 0 4rem 0;
}


/* home */
.home main {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.home h2 {
    padding: 2rem;
    color: var(--dark-olive);
}


.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.card {
    width: 30vw;
    height: 20vh;
    background-color: var(--dark-olive);
    border: 2px solid var(--darker-olive);
    color: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    padding: 1rem;
}

.card a {
    color: var(--lighter-olive);
}

.card a:hover {
    color: var(--medium-olive);
}

/* NewRecipe */


.newRecipeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.newRecipeForm h2 {
    padding: 1rem;
}

.newRecipeForm p {
    margin-left: 1rem;
}

.recepieForm_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newRecipeForm button,
.recipeCard button {
    border: none;
    background-color: var(--dark-olive);
    color: var(--white);
}

.newRecipeForm button:hover,
.recipeCard button:hover {
    background-color: var(--medium-olive);
}

input,
select {
    margin: 0.5rem 0 0.5rem 0;
    font-family: var(--font);
}

input {
    border: 1px solid var(--grey-medium);
    border-radius: 5px;
    height: 30px;
    padding: 0 0.5rem 0 0.5rem;
}

select {
    border: 1px solid var(--grey-medium);
    border-radius: 5px;
    height: 30px;
    font-family: var(--font);
}

textarea {
    border: 1px solid var(--grey-medium);
    border-radius: 5px;
    height: 60px;
    font-family: var(--font);
    padding: 0.5rem;
}


label {
    margin-right: 1rem;
}

.recipe_item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.portions_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.portions_item {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 0 1rem 1rem 1rem;
}


/* RecipeList */

.recipeList_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeList_page h2 {
    margin: 2rem 0 1rem 0;
}

.recipeList_page input {
    width: 200px;
}

.recipeCard {
    background-color: var(--white);
    width: 20vw;
    height: 50vh;
    min-width: 200px;
    min-height: 450px;
    margin: 1rem;
    border: 2px solid var(--medium-olive);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-olive);
    border-radius: 5px;
    padding-bottom: 1rem;
    position: relative;
}

.recipeCard h3 {
    font-size: 32px;
    color: var(--dark-olive);
    margin: 1rem;
}

.recipe_pain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeImage_container img {
    max-height: 300px;
    max-width: 100%;
    height: 40vh;
    width: 40vw;
    object-fit: cover;
}

/* RecipeProfile */

.profileCard {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

.profileCard h2 {
    text-align: center;
    margin: 2rem;
}

.profileCard_data {
    display: flex;
    flex-direction: row;
}

.recipeFlag {
    top: 0;
    right: 0;
    position: absolute;
    background-color: var(--medium-olive);
    padding: 0 0.5rem 0 0.5rem;
    box-shadow: 0 0 5px var(--medium-olive);
    border-radius: 0 0 0 5px;
}


.portions_data {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--lighter-olive);
    width: 20vw;
    height: auto;
    margin-bottom: 0.5rem;
}

.recipeImage {
    height: 50vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 5px;
}

.profileFlag {
    top: 0;
    right: 0;
    position: absolute;
    background-color: var(--medium-olive);
    padding: 0 0.5rem 0 0.5rem;
    box-shadow: 0 0 5px var(--medium-olive);
    border-radius: 0 0 0 5px;
}

.profileImage {
    width: 20vw;
    height: 55vh;
    position: relative;
}

.profileDecPrep_wrapper {
    margin: 0 2rem;
    border-radius: 5px;

}

.profileDecPrep_wrapper p {
    margin: 1rem 0 1rem 0;
    background-color: var(--lighter-olive);
    padding: 1rem;
    width: 25vw;
    height: auto;
}

.profileIngredients h3 {
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {

    .header_content {
        padding: 5rem;
    }

    .recipeCard {
        width: 40vw;
        height: 30vh;
    }

    .profileDecPrep_wrapper p {
        width: 50vw;
        height: auto;
    }

    .profileImage {
        width: 30vw;
        height: 40vh;
        margin-bottom: 1rem;
    }

    .recipeImage {
        height: 40vh;
        width: 30vw;
        object-fit: cover;
    }

    .portions_data {
        width: 30vh;
        height: auto;
    }
}

@media (max-width: 820px) {
    .recipeCard {
        width: 40vw;
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .header_text h1 {
        font-size: 62px;
    }

    .recipeCard h3 {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .header_content {
        padding: 2rem;
    }

    .header_text h1 {
        font-size: 42px;
    }

    .card {
        width: 40vw;
        height: 50vh;
        margin: 0.5rem;
    }

    .recipeCard {
        width: 50vw;
        height: auto;
    }

    .recipeImage_container img {
        height: 40vh;
        width: 50vw;
    }

    .profileImage {
        width: 40vw;
        height: 40vh;
    }

    .recipeImage {
        height: 40vh;
        width: 40vw;
        object-fit: cover;
    }

    .portions_data {
        width: 40vw;
        height: auto;
    }

    .profileCard {
        padding: 0 1rem 0 1rem;
    }

    .profileCard_data {
        margin-left: 1rem;
    }

    .profileDecPrep_wrapper {
        margin: 0 0.5rem;

    }
}